a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Raleway", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*==============header=========*/
.container {
  width: 320px;
}
.logo {
  height: 68px;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #598d66;
}
.logo-list {
  padding-top: 17px;
  display: flex;
  gap: 8px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.header-menu {
  background-color: #e1ede6;
  height: 62px;
}
.button {
  border: none;
  background: none;
}
.menu-button {
  padding-top: 16px;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}

.horse-head {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  color: #2c2d35;
  padding-top: 60px;
  padding-left: 15px;
}
.ink-horse {
  color: #598d66;
}

.description {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #86928b;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.button-product-main {
  padding-left: 15px;
  padding-top: 40px;
}
.button-product {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #598d66;
  border: 1px solid #598d66;
  width: 154px;
  height: 50px;
  text-align: center;
}

.reprod {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  color: #2c2d35;
  padding-top: 60px;
  padding-left: 15px;
}
.country-list {
  padding-top: 20px;
}
.button-list {
  display: flex;
  gap: 20px;
}
.country-button {
  border-radius: 20px;
  padding: 10px 20px;
  width: 118px;
  height: 41px;
  background: #d4e8d9;
}

.country-button:hover {
  background: #376b44;
}
